<!-- reset_password_form.html -->
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Confirmar restablecimiento de contraseña" %}</title>
    <link rel="stylesheet" href="{% static 'css/c-confirm.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% trans "Confirmar cambio de Contraseña"%}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Guardar contraseña"%}</button>
        </form>
    </div>
</body>
</html>
