<!-- reset_password_complete.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña restablecida</title>
    <link rel="stylesheet" href="{% static 'css/d-complet.css' %}">
</head>
<body>
    <div class="container">
        <h2>Contraseña restablecida</h2>
        <p>Su contraseña ha sido restablecida exitosamente</p> 
        <p>Ahora puedes <a href="{% url 'iniciosesion' %}">iniciar sesion</a> 
        con tu nueva contraseña</p>
    </div>
</body>
</html>
