<!-- reset_password.html -->
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Password Reset" %}</title>
    <link rel="stylesheet" href="{% static 'css/a-reset.css' %}">
</head>
<body>
    <div class="containerform">
        <h2>{% trans "Restablecer Contraseña" %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Cambiar contraseña" %}</button>
        </form>
    </div>
</body>
</html>
