<!-- reset_password_complete.html -->
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Contraseña restablecida" %}</title>
    <link rel="stylesheet" href="{% static 'css/d-complet.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% trans "Contraseña restablecida" %}</h2>
        <p>{% trans "Su contraseña ha sido restablecida exitosamente" %}</p> 
        <p>{% trans "iniciar sesion" %} <a href="{% url 'iniciosesion' %}"></a> 
            {% trans "con tu nueva contraseña" %}</p>
    </div>
</body>
</html>
