<!-- reset_password_sent.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="{% static 'css/b-done.css' %}">
</head>
<body>
    <div class="container">
        <h2>Restablecimiento de contraseña enviado</h2>
        <p>Se ha enviado un correo electrónico a su dirección de correo electrónico registrada con
            instrucciones para restablecer su contraseña. Por favor revise su correo electrónico.</p>     
    </div>
</body>
</html>
