
/* Nav CSS */
a{
    text-decoration: none !important;
}


.nav-link{
    margin: 0 !important;
    color: white;
}

.btnLink{
    position: relative;
    cursor: pointer;
    border: none;
    padding: 15px;
    color: black;
    transition: border-bottom 0.1s ease;
}

.btnLink:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 30px;
    background-color: white !important;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    display: inline-block;
}

.btnLink:hover:before {
    width: 100%;
}

.offcanvas-end {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}

/* Registro CSS*/
.titulo-general{
    font-size: 30px;
    color: #3498db;
    padding: 25px;
}
/* Bot贸n registro */
.btn-reg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px !important;
    height: 50px !important;
    background: white;
    color: #FFA011;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-reservas{
    display: flex;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    width: 130px !important;
    height: 50px !important;
    background: #25303f;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-reservas:hover{
    background: #FFA011;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
/* Bot贸n Editar */
.btn-editar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #FFA011;
    padding-left: 10px;
    color: #FFA011;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-editar:hover{
    color: #fff;
    background: #FFA011;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-reg:hover{
    color:white;
    background: #FFA011;
    transition: all 0.2s ease-in-out;
}

/* Login CSS */
/* Bot贸n Login */
.btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 170px !important;
    height: 50px !important;
    border: 1px solid #3498db;
    background: white;
    color: #3498db;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-login:hover{
    color:white;
    background: #3498db;
    transition: all 0.2s ease-in-out;
}

.logo-leng{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0 auto;
    border-radius: 100%;
    background: white;
    color: #FFA011;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Ajuste del ancho del nav para tener en cuenta el espacio ocupado por la barra lateral */
.navbar {
    width: 100%;
}

.navbar-nav{
    margin: 0 auto;
}

/* SideBar CSS */
.user-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.4s ease;
    z-index: 5000;
}

.sidebar.active{
    width: 250px;
    max-width: 100%;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo{
    font-size: 2rem;
    margin-right: 5px;
}

.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 100%;
}

.sidebar ul li a {
    color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 0.8rem;
    max-height: 50px;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.siderbar ul li a i {
    min-width: 50px !important;
    text-align: center;
    width: 100px;
    height: 50px !important;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar ul li a .nav-item {
    flex: 1;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    line-height: 50px
}

.siderbar .nav-item{
    opacity: 0;
}

.siderbar.active .nav-item{
    opacity: 1;
}

.siderbar ul{
    display: flex;
    justify-content: center;
    margin: auto;
    list-style-type: none;
}

.tooltip {
    position: absolute;
    left: 140px;
    top: 50%;
    border: 1px solid #D9D9D9;
    background: #fff;
    transform: translate(-50%,-50%);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0 !important;
    color: black;
}

.item:hover .tooltip{
    opacity: 1 !important;
}

.sidebar.active ul li .tooltip{
    display: none !important;
}

.container {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0 !important;
}

li{
    margin: 0 auto;
}

.footer-pag{
    background-color: #12171e;
    color: #fff;
    width: 100%;
    padding: 20px;
    z-index: 2200;
}

/* CSS administrador_home.html */
.info-imagen{
    position: absolute;
    margin: 0 auto;
    margin-left: 200px !important;
    font-weight: 800;
    color: white !important;
    top: 500px;
    color: red;
    font-size: 45px;
}

.fondo-img{
    opacity: 0.9;
}

.no-border{
    border: none !important;
}

@media (max-width: 1360px) {
    #language-form{
        display: none !important;
    }
    .btn-reservas{
        display: none !important;
    }
    .contenido-logo{
        position: relative;
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        padding: 0;
    }
    .sidebar{
        display: block;
    }
    .navbar {
        left: 80px;
        width: calc(100% - 80px) !important;
    }
    .contenido-main {
        min-height: 100vh;
        margin-left: 80px;
    }
    
}

/* Bot贸n wsp */
.btn-wsp{
    position: fixed;
    bottom: 10px;
    right: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2300;
    transition: all 0.4s ease-in-out;
}

.btn-wsp:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.contenedor-mensajes{
    padding: 20px;
    height: 60px;
    color: white;
}

.contenedor-user{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 40px;
    border: 1px solid #D9D9D9;
    background: #D9D9D9;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    z-index: 10000;
}

.contenedor-user:hover{
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lista-user{
    position: absolute;
    top: 85px;
    right: 100px;
    width: 200px;
    height: 200px;
    background: #25303f;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

.listado-idiomas{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 420px;
    top: 80px;
    width: 120px;
    height: 100px;
    border-radius: 18px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.fondo-perfil{
    height: 170px;
    width: auto;
    background: #25303f;
    z-index: 180;
}

.contenedor-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    top: 60px;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 3px solid #D9D9D9;
    border-radius: 50%;
    z-index: 200;
    background: #fff;
    cursor: pointer;
}

/* Icono para cambiar foto de perfil */
.btn-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 68%;
    left: 82%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D9D9D9;
    cursor: pointer;
    z-index: 3000;
}

.btn-perfil:hover{
    background: #25303f;
    color: #fff;
}

.info-user{
    background: #25303f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #D9D9D9;
    border-radius: 18px;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
}

