/* Nav CSS */
a{
    text-decoration: none !important;
}


.nav-link{
    margin: 0 !important;
}

.btnLink{
    position: relative;
    cursor: pointer;
    border: none;
    padding: 15px;
    color: black;
    transition: border-bottom 0.1s ease;
}

.btnLink:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #ec4e39;
    transition: width 0.4s ease-in-out;
    transform: translateX(-50%);
    display: inline-block;
}

.btnLink:hover:before {
    width: 100%;
}

.offcanvas-end {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
}


/* Index CSS */





/* Home CSS */





/* Registro CSS*/
.titulo-general{
    font-size: 30px;
    color: #3498db;
    padding: 25px;
}

.btn-reg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px !important;
    height: 50px !important;
    border: 1px solid #3498db;
    background: white;
    color: #3498db;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-reg:hover{
    color:white;
    background: #3498db;
    transition: all 0.2s ease-in-out;
}

/* Login CSS */




