h2 {
    color: blue;
}

body {
    background-image: url('../img/fondo-reg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    color: blue;
    padding: 15px 21px 20px 21px;
    text-align: center;
}

form input,
form select,
form textarea{
    width: 85%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px, rgb(0,0,0,0.3);
    border: 3px solid hsl(210,100%,50%);
    border-radius: 7px;
    padding: 1em;
    text-align: center;
    margin-top: 10px;
}

button {
    font-size: 1rem;
    padding: 7px 13px;
    border-radius: 5px;
    border: none;
    background-color: hsl(210,100%,50%);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: hsl(210,100%,70%);
}

button:active {
    background-color: hsl(210,100%,85%);
}
