.filtro-hab{
    cursor: pointer;
}

.filtro-op{
    position: absolute;
    top: 70px;
    display: none;
    margin-top: 10px !important;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #fff;
    border: 1px solid #D9D9D9;
    overflow: hidden;
    border-radius: 30px;
    z-index: 100;
}

.filtro-op.active {
    display: flex;
    padding-top: 10px;
    opacity: 1 !important;
}

.recomendados{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}
.recomendados:hover{
    color: #fffd;
    background: #ffa011;
}

.mas-economicos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.mas-economicos:hover{
    color: #fff;
    background: #0077cc;
}

.mas-caros{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.mas-caros:hover{
    color: #fff;
    background: #ff7429;
}

.mas-informacion {
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px; 
    z-index: 999;
    padding: 20px;
}

.btn-mostrar-info {
    margin: 0 auto;
    width: 180px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    color: #0077cc;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-mostrar-info:hover {
    opacity: 0.8;
    background: #0077cc;
    color: #fff;
}

.btn-close{
    cursor: pointer;
    background: transparent;
    transition: background 0.3s ease;
}

.contenido-imagenes{
    margin: 30px;
}

.contenido-habitacion{
    width: 400px;
    text-align: center;
}

.contenido-habitacion h5{
    color: #333;
    margin-bottom: 10px;
}

.contenido-habitacion p{
    font-style: italic;
    margin: 0;
}

.fondo-opaco {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1200;
}

/* Estilos para la ventana de información */
.mas-informacion {
    display: none;
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 4000;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease; 
    opacity: 0;
    pointer-events: none;
}

/* Estilo para mostrar la ventana de información cuando está activa */
.mas-informacion.active {
    opacity: 1;
    pointer-events: auto;
}


