*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}
/* CSS Buscador */
.search-bar {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 50px;
}

.search-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-inputs input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.333% - 10px);
}

.search-inputs input.date-input {
    width: calc(50% - 10px);
}

.search-inputs button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-inputs button:hover {
    background-color: #005fa6;
}

.input-group-text{
    padding: 0 !important;
}

.btn-hab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 30px;
    margin: 15px;
}

.btn-hab:hover{
    background: #4495E0;
    color: white;
    transition: all 0.3s ease-in-out;
}

.titulo-rec{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: gray;
    font-weight: 500;
}

.box-rec{
    position: relative;
    border: 1px solid #D9D9D9;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 320px;
    width: 400px;
    max-width: 100%;
    border-radius: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.box-rec img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
    
}

.box-rec:before {
    content: 'Disponibles: ' attr(data-room);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 15px;
    margin-bottom: 230px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    background-color: #4495E0 !important;
}

/* .box-rec::after {
    content: attr(data-room);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 40px;
    color: black;
    font-size: 14px;
    opacity: 0.6;
    background-color: #D9D9D9 !important;
} */

.contenedor-img{
    padding: 10px;
}

.btn-adultos{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    cursor: pointer;
}

.btn-adultos:hover{
    background: #D9D9D9;
    transition: all 0.3s ease-in-out;
}

.box-btn-adultos{
    display: none;
    position: absolute;
    width: 100px;
    height: 60px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    background: #fff;
    z-index: 100;
    opacity: 0;
}

.box-btn-adultos.active {
    display: flex;
    margin-top: 60px;
    opacity: 1;
}

.btn-ninos{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    cursor: pointer;
}

.btn-ninos:hover{
    background: #D9D9D9;
    transition: all 0.3s ease-in-out;
}

.box-btn-ninos{
    display: none;
    position: absolute;
    width: 100px;
    height: 60px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    background: #fff;
    z-index: 100;
    opacity: 0;
}

.box-btn-ninos.active {
    display: flex;
    margin-top: 60px;
    opacity: 1;
}

.contenido-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}

#btn-minus {
    font-size: 24px; /* Tamaño de los iconos */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

#btn-minus:hover {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}

#btn-plus {
    font-size: 24px; /* Tamaño de los iconos */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

#btn-plus:hover {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}




