*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}
/* CSS Buscador */
.search-bar {
    border: 1px solid #D9D9D9;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
}

.search-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-inputs input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.333% - 10px);
}

.search-inputs input.date-input {
    width: calc(50% - 10px);
}

.search-inputs button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-inputs button:hover {
    background-color: #005fa6;
}

.btn-buscador {
    width: 50px;
    height: 50px;
    position: relative;
    padding-left: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: white;
    opacity: 0.8;
    background: #0077cc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.btn-buscador:hover{
    background: #0077cc;
    width: 120px;
    border-radius: 40px;
    opacity: 1;
    color: white;
}

#texto-buscador {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    margin-left: 20px;
    padding-right: 20px;
}

.btn-buscador:hover #texto-buscador {
    opacity: 1;
    padding-right: 20px;
}

#icono-buscador {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.4s ease-in-out; /* Cambiado a left */
}

.btn-buscador:hover #icono-buscador {
    left: 30px;
}

.input-group-text{
    padding: 0 !important;
}

.btn-hab{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 30px;
    margin: 15px;
}

.btn-hab:hover{
    background: #4495E0;
    color: white;
    transition: all 0.3s ease-in-out;
}

.titulo-rec{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: gray;
    font-weight: 500;
}

.box-rec{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 360px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.box-rec img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
}

.box-rec[data-room="No Disponible"] img {
    opacity: 0.5;
}

.box-rec:before {
    content: attr(data-room);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 15px;
    margin-bottom: 230px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
}
.box-rec[data-room="Disponible"]::before {
    background-color: #4495E0; /* Fondo azul para Disponible */
}

.box-rec[data-room="No Disponible"]::before {
    color: white;
    background-color: gray /* Fondo gris para No Disponible */
}

.contenedor-img{
    padding: 10px;
}

.contenedor-huespedes{
    display: none;
    position: absolute;
    width: 380px;
    height: auto;
    padding: 30px;
    background: #fff;
    border-radius: 18px;
    border: 1px solid #D9D9D9;
    opacity: 0;
    z-index: 3000;
}
.contenedor-huespedes.active {
    display: flex;
    margin-top: 55px;
    opacity: 1;
}

.btn-huespedes{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: auto;
    padding: 10px 20px 10px 20px;
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    cursor: pointer;
}

.btn-huespedes:hover{
    background: #D9D9D9;
    transition: all 0.3s ease-in-out;
}


.btn-ninos{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px 30px 10px 30px;
    height: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 18px;
    cursor: pointer;
}

.btn_contador{
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.btn_contador:hover{
    background: #D9D9D9;
    transition: all 0.3s ease-in-out;
}

.btn-ninos:hover{
    background: #D9D9D9;
    transition: all 0.3s ease-in-out;
}

.box-btn-ninos{
    display: none;
    position: absolute;
    width: 100px;
    height: 60px;
    border: 1px solid #D9D9D9;
    border-radius: 40px;
    background: #fff;
    z-index: 100;
    opacity: 0;
}

.box-btn-ninos.active {
    display: flex;
    margin-top: 60px;
    opacity: 1;
}

.contenido-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}

#btn-minus {
    font-size: 24px; /* Tamaño de los iconos */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

#btn-minus:hover {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}

#btn-plus {
    font-size: 24px; /* Tamaño de los iconos */
    transition: transform 0.3s; /* Transición para el efecto hover */
}

#btn-plus:hover {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}

/* CSS para Botón Filtro */
#filtro{
    cursor: pointer;
}

.filtro-opciones{
    position: absolute;
    top: 55px;
    display: none;
    margin-top: 10px !important;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #fff;
    border: 1px solid #D9D9D9;
    overflow: hidden;
    border-radius: 18px;
    z-index: 100;
}

.filtro-opciones.active {
    display: flex;
    padding-top: 10px;
    height: 150px;
    opacity: 1;
}

.recomendados{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
}
.recomendados:hover{
    color: #fffd;
    background: #FFA011;
}

.mas-economicos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    cursor: pointer;
}

.mas-economicos:hover{
    background: #4495E0;
}

.mas-caros{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.mas-caros:hover{
    background: #4495E0;
}

.habitacion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotated {
    transform: rotateX(180deg);
    transform-origin: center; 
    transition: transform 0.3s ease-in-out;
}

.mas-informacion{
    z-index: 4000;
}

.carousel-item img {
    width: 100%; /* Establecer el ancho deseado */
    height: 600px; /* Establecer la altura deseada */
    object-fit: cover; /* Escalar la imagen para que se ajuste al contenedor manteniendo la relación de aspecto */
}
@media (max-width: 991px) {
    .search-bar {
        border-radius: 18px;

    }
}
