{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}
{%load i18n %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="titulo-general text-center">Bienvenido (a) {{ nameadmin }}</div>
            <div class="subtitulo text-center">Cargo: Administrador del Hotel Pacific</div> <!-- Subtítulo agregado -->
            <br>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="position-relative">
                <img class="fondo-img img-fluid" src="{% static 'img/fondo-reg.jpg' %}" alt="fondo">
                <div class="info-imagen position-absolute top-50 start-50 translate-middle">
                    {% trans "Bienvenido (a) a tu segundo hogar, " %} <span style="color: #3498db;">Hotel Pacific</span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    hr {
            border: none; /* Quitamos el borde predeterminado */
            background-color: gray; /* Cambiamos el color de fondo */
            height: 1px; /* Ajustamos la altura de la línea */
        }
</style>




{% endblock %}

{% block scripts %}
    
{% endblock %}