{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="titulo-general text-center">Bienvenido (a) Nombre del Administrador</div>
            <div class="subtitulo text-center">Cargo: Administrador del Hotel Pacific</div> <!-- Subtítulo agregado -->
            <div class="d-flex justify-content-center align-item-center">
                <div class="contenedor-imagen">
                    <img src="{% static 'img/hotel.jpeg' %}"alt="Hotel Pacific" width="1370" height="800">
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

{% block scripts %}
    
{% endblock %}