{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="titulo-general text-center">Bienvenido (a) Nombre del Administrador</div>
            <div class="subtitulo text-center">Cargo: Administrador del Hotel Pacific</div>
            <!-- Botones -->
            <div class="row mt-4">
                <div class="col-md-4 mb-3">
                    <a href="{% url 'ver_usuario' %}" class="btn btn-primary btn-block btn-lg"> Ver Usuario </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'crear_usuario' %}" class="btn btn-success btn-block btn-lg"> Crear Usuario
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'modificar_usuario' %}" class="btn btn-warning btn-block btn-lg"> Modificar Usuario
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'eliminar_usuario' %}" class="btn btn-danger btn-block btn-lg"> Eliminar
                        Usuario </a>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}

{% block scripts %}
    
{% endblock %}