{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}
{% load i18n %}

{% block contenido %}

<div class="container-fluid" style="padding-top: 160px;">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mt-3 mb-3 text-center">{% trans "Crear Reserva"%}</h2>
        </div>
    </div>
    <form id="formulario-crear" method="post" onsubmit="handleSubmit(event)">
        {% csrf_token %}
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-md-5 col-lg-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Nombre Cliente" required>
                    <label for="floatingInput">{% trans "Nombres Cliente"%}</label>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos Cliente" required>
                    <label for="floatingInput">{% trans "Apellidos Cliente"%}</label>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Rut Cliente" required>
                    <label for="floatingInput">{% trans "Rut Cliente"%}</label>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Rut Cliente" required>
                    <label for="floatingInput">{% trans "Cantidad Adultos"%}</label>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Rut Cliente">
                    <label for="floatingInput">{% trans "Cantidad Niños"%}</label>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <select class="form-select form-select-md mb-3" aria-label="Large select example" required>
                    <option selected>{% trans "Seleccione Método de Pago"%}</option>
                    <option value="1">{% trans "Débito"%}</option>
                    <option value="2">{% trans "Crédito"%}</option>
                    <option value="3">{% trans "Transferencia"%}</option>
                </select>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="input-group">
                    <input type="text" class="form-control date-range" placeholder="{% trans 'Ingrese fecha de llegada' %}"
                    style="cursor: pointer;" required>
                    <div class="input-group-append ml-auto">
                        <span class="input-group-text">
                            <img class="img-fluid" src="{% static 'img/calendar.png' %}" alt="Calendario" style="width: 30px; height: 30px;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="input-group">
                    <input type="text" class="form-control date-range" placeholder="{% trans 'Ingrese fecha de salida' %}" style="cursor: pointer;" required>
                    <div class="input-group-append ml-auto">
                        <span class="input-group-text">
                            <img class="img-fluid" src="{% static 'img/calendar.png' %}" alt="Calendario" style="width: 30px; height: 30px;">
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="hidden" name="id_reserva" value="{{ reserva.id_reserva }}">
                        <input type="hidden" name="id_venta" value="{{ venta.id_venta }}">
                        <button class="btn btn-primary" type="submit">{% trans "Confirmar"%} </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}