{% extends 'administrador/base_administrador.html' %}
{% load static %}
{% load i18n %}
{% block css %}
{% endblock %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row mt-4">
        <div class="col-lg-6 reg-box">
            <h1 class="titulo-general text-center">{% trans "Registro de Usuario"%}</h1>
            <!-- Formulario de registro -->

        
            <form id="registroForm" action="{% url 'crear_usuario_admin' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center align-item-center">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 pb-4">
                        <!-- Input ID Tipo Habitación -->
                        <!-- Input Nombre -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" name="nombres"placeholder="{% trans 'nombre' %}"                            required>
                            <label for="nombre">{% trans "Nombre"%}</label>
                        </div>
                        <!-- Input Apellidos -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="{% trans 'apellidos' %}"  required>
                            <label for="apellidos">{% trans "Apellidos"%}</label>
                        </div>
                        <!-- Input Username -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombreusuario" placeholder="Nombre usuario" name="nombreusuario">
                            <label for="nombreusuario">{% trans "Nombre usuario"%}</label>
                        </div>
                        <!-- Input Correo Electrónico -->
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="{% trans 'correo' %}" required>
                            <label for="correo">{% trans "Correo Electrónico"%}</label>
                        </div>
                        <!-- Input Teléfono -->
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="{% trans 'celular' %}" required>
                            <label for="telefono">{% trans "Celular"%}</label>
                        </div>
                        <!-- Input Contraseña 1 -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="contrasena1" name="contrasena1" placeholder= "{% trans 'contraseña' %}" required>
                            <label for="contrasena1">{% trans "Contraseña"%}</label>
                        </div>
                        <!-- Input Contraseña 2 -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="contrasena2" name="contrasena2" placeholder= "{% trans 'contraseña' %}" required>
                            <label for="contrasena2">{% trans "Confirmar Contraseña"%}</label>
                        </div>
                        <!-- Checkbox Usuario Normal -->
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="1" id="normal" name="normal">
                            <label class="form-check-label" for="normal">
                                {% trans "¿Quieres que sea Usuario Común?"%}
                            </label>
                        </div>
                        <!-- Checkbox Usuario Vendedor -->
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="1" id="vendedor" name="vendedor">
                            <label class="form-check-label" for="vendedor">
                                {% trans "¿Quieres que sea Usuario Vendedor?"%}
                            </label>
                        </div>
                        <!-- Checkbox Super Usuario -->
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="1" id="superusuario" name="superusuario">
                            <label class="form-check-label" for="superusuario">
                                {% trans "¿Quieres que sea Usuario Administrador?"%}
                            </label>
                        </div>
                    </div>
                    <!-- Botón Registrar -->
                    <div class="row">
                        <div class="col d-flex justify-content-center pt-4">
                            <button type="submit" class="btn btn-primary btn-reg">{% trans "Registrar"%}</button>
                        </div>
                        <br>
                        <!-- Mensajes de Error -->
                        {% if messages %}
                        <div class="row justify-content-center align-item-center">
                            <div class="col-lg-12">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert alert-danger"> {{ message }} </div>
                                    {% elif message.tags == 'success' %}
                                        <div class="alert alert-success"> {{ message }} </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 img-reg">
            <!-- Imagen de fondo -->
            <img class="img-fluid" src="{% static 'img/fondo-reg.jpg' %}" alt="usuario" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </div>
</div>

{% block scripts %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var checkboxes = document.querySelectorAll('.form-check-input');
    
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    checkboxes.forEach(function(otherCheckbox) {
                        if (otherCheckbox !== checkbox) {
                            otherCheckbox.checked = false;
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}

{% endblock %}


<div class="row m-auto justify-content-center">
    <div class="col mt-4 mb-4">
        <div class="d-grid gap-2 col-2 mx-auto">
            <button class="btn btn-success" type="submit"> {% trans "+ Agregar"%}</button>
        </div>
    </div>
</div>

<!--
Es importante tener los bloques de script dentro de un block content,
para que los archivos js se puedan leer.
-->
