{% extends 'administrador/base_administrador.html' %}
{% load static %}
{% load i18n %}
{% block css %}
{% endblock %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row mt-4">
        <div class="col-lg-6 reg-box">
            <h1 class="titulo-general text-center">{% trans "Registro de Usuario"%}</h1>
            <!-- Formulario de registro -->
            <form id="registroForm" action="{% url 'crear_usuario_admin' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center align-item-center">
                    <div class="col-12 col-lg-8 pb-4">
                        <!-- Input Nombre -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nombre" name="nombres"placeholder="{% trans 'nombre' %}"                            required>
                            <label for="nombre">{% trans "Nombre"%}</label>
                        </div>
                        <!-- Input Apellidos -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="{% trans 'apellidos' %}"  required>
                            <label for="apellidos">{% trans "Apellidos"%}</label>
                        </div>
                        <!-- Input Correo Electrónico -->
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="{% trans 'correo' %}" required>
                            <label for="correo">{% trans "Correo Electrónico"%}</label>
                        </div>
                        <!-- Input Teléfono -->
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="{% trans 'celular' %}" required>
                            <label for="telefono">{% trans "Celular"%}</label>
                        </div>
                        <!-- Input Contraseña -->
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder= "{% trans 'contraseña' %}" required>
                            <label for="contrasena">{% trans "Contraseña"%}</label>
                        </div>
                        <!-- Botón Registrar -->
                        <div class="row">
                            <div class="col d-flex justify-content-center pt-4">
                                <button type="submit" class="btn btn-primary btn-reg">{% trans "Registrar"%}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 img-reg">
            <!-- Imagen de fondo -->
            <img class="img-fluid" src="{% static 'img/fondo-reg.jpg' %}" alt="usuario" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // No se requiere ningún script para ocultar la alerta de éxito
</script>
{% endblock %}