{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}
{% load i18n %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mt-5 mb-3 text-center">{% trans "Eliminar Usuario"%}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="table-responsive">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">{% trans "ID Usuario"%}</th>
                                <th scope="col">{% trans "Nombre"%}</th>
                                <th scope="col">{% trans "Apellidos"%}</th>
                                <th scope="col">{% trans "Correo Electrónico"%}</th>
                                <th scope="col">{% trans "Celular"%}</th>
                                <th scope="col">{% trans "Acciones"%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ usuario.id_user }}</td>
                                <td>{{ usuario.nombres }}</td>
                                <td>{{ usuario.apellidos }}</td>
                                <td>{{ usuario.correo }}</td>
                                <td>{{ usuario.telefono }}</td>
                                <td>
                                    <button type="submit" class="btn btn-danger">{% trans "Eliminar Usuario"%}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}