{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mt-5 mb-3 text-center">Eliminar Usuario</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="table-responsive">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Correo Electrónico</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.first_name }}</td>
                                <td>{{ usuario.last_name }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>
                                    <button type="submit" class="btn btn-danger">Eliminar Usuario</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}