{% extends 'administrador/base_administrador.html' %}
{% load i18n %}
{% block css %}
<!-- Puedes agregar estilos personalizados aquí si es necesario -->
{% endblock %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mt-5 mb-3 text-center">{% trans "Modificar Usuario"%}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="table-responsive table-sm">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">{% trans "ID Usuario"%}</th>
                                <th scope="col">{% trans "Nombre"%}</th>
                                <th scope="col">{% trans "Apellidos"%}</th>
                                <th scope="col">{% trans "Correo Electrónico"%}</th>
                                <th scope="col">{% trans "Celular"%}</th>
                                <th scope="col">{% trans "Acciones"%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ usuario.id_user }}</td>
                                <td><input class="editable-input form-control" type="text" name="nombres" id="nombres" value="{{ usuario.nombres }}"></td>
                                <td><input class="editable-input form-control" type="text" name="apellidos" id="apellidos" value="{{ usuario.apellidos }}"></td>
                                <td><input class="editable-input form-control" type="text" name="correo" id="correo" value="{{ usuario.correo }}"></td>
                                <td><input class="editable-input form-control" type="text" name="telefono" id="telefono" value="{{ usuario.telefono }}"></td>
                                <td>
                                    <input type="hidden" name="id_user" value="{{ usuario.id_user }}">
                                    <button type="submit" class="btn btn-warning">{% trans "Guardar Cambios"%}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Puedes agregar scripts personalizados aquí si es necesario -->
{% endblock %}


