{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}
{% load i18n %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mt-5 mb-3 text-center">{% trans "Otorgar Privilegio de Vendedor"%}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="table-responsive">
                <form method="post" action="{% url 'tipo_usuario_admin' usuario.id %}">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">{% trans "ID Usuario"%}</th>
                                <th scope="col">{% trans "Nombre"%}</th>
                                <th scope="col">{% trans "Apellidos"%}</th>
                                <th scope="col">{% trans "Correo Electrónico"%}</th>
                                <th scope="col">{% trans "Rol"%}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.first_name }}</td>
                                <td>{{ usuario.last_name }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>
                                    <label for="rol">Selecciona el nuevo rol:</label>
                                    <select name="rol" id="rol">
                                        <option value="cliente" {% if rol_existente == 'cliente' %} selected {% endif %}>Cliente</option>
                                        <option value="vendedor" {% if rol_existente == 'vendedor' %} selected {% endif %}>Vendedor</option>
                                    </select>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-secondary">{% trans "Guardar"%}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
