{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mt-5 mb-3 text-center">Otorgar Privilegio de Vendedor</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="table-responsive">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Correo Electrónico</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Rol</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ usuario.id_user }}</td>
                                <td>{{ usuario.nombres }}</td>
                                <td>{{ usuario.apellidos }}</td>
                                <td>{{ usuario.correo }}</td>
                                <td>{{ usuario.telefono }}</td>
                                <td>
                                    <select name="rol" class="form-select">
                                        <option value="Vendedor">Vendedor</option>
                                        <option value="Cliente">Cliente</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}