{% extends 'vendedor/base_vendedor.html' %}

{% block css %}
{% endblock %}

{% load static %}
{% load i18n %}
{% block contenido %}

<div class="container-fluid" style="padding-top: 160px;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="titulo-general text-center">{% trans "Bienvenido (a) "%} {{nameseller}} </div>
            <div class="subtitulo text-center">{% trans "Cargo: Vendedor del Hotel Pacific"%}</div>

            <!-- Botones -->
            <div class="row mt-4">
                <div class="col-md-4 mb-3">
                    <a href="{% url 'crear_reserva_pacific_vendedor' %}" class="btn btn-primary btn-block btn-lg">
                        <i class='bx bx-plus'></i> {% trans "Crear Reserva"%}
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'modificar_reserva_pacific_vendedor' %}" class="btn btn-warning btn-block btn-lg">
                        <i class='bx bx-pencil'></i> {% trans "Modificar Reserva"%}
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'eliminar_reserva_pacific_vendedor' %}" class="btn btn-danger btn-block btn-lg">
                        <i class='bx bx-x'></i> {% trans "Cancelar Reserva"%}
                    </a>
                </div>
                <div class="col"></div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'ver_reserva_pacific_vendedor' %}" class="btn btn-info btn-block btn-lg">
                        <i class='bx bx-show'></i> {% trans "Ver Reservas"%}
                    </a>
                </div>
                <div class="col-md-4 mb-3">
                    <a href="{% url 'ver_calendario_pacific_vendedor' %}" class="btn btn-secondary btn-block btn-lg">
                        <i class='bx bx-calendar'></i> {% trans "Ver Calendario"%}
                    </a>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}