{% extends 'administrador/base_administrador.html' %}

{% block css %}
{% endblock %}

{% load static %}
{% load i18n %}

{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row">
        <div class="col d-flex m-auto justify-content-center">
            <nav aria-label="breadcrumb">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'administrador_home' %}">{% trans "Inicio"%}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'gestion_habitaciones' %}">{% trans "Gestión Habitaciones"%}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Crear Habitación"%}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="titulo-general mb-3 text-center">{% trans "Crear Habitación"%}</h2>
        </div>
    </div>
    <form id="formulario-crear" method="post" enctype="multipart/form-data" onsubmit="handleSubmit(event)">
        {% csrf_token %}
        <div class="row justify-content-center align-item-center">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-6 pb-4">
                <!-- Input ID Tipo Habitación -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="id_tipo_hab" name="id_tipo_hab" placeholder="Tipo Habitación" required>
                    <label for="id_tipo_hab">{% trans "ID Tipo Habitación"%}</label>
                </div>
                <!-- Input Título -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="titulo_hab" name="titulo_hab" placeholder="{% trans 'Título' %}" required>
                    <label for="titulo_hab">{% trans "Título" %}</label>
                </div>
                <!-- Input Descripción -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="{% trans 'Descripción' %}" id="descripcion" name="descripcion" style="height: 100px"></textarea>
                    <label for="descripcion">{% trans "Descripción" %}</label>
                </div>
                <!-- Input Título Inglés-->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="titulo_en" name="titulo_en" placeholder="{% trans 'Título en inglés' %}" required>
                    <label for="titulo_en">{% trans "Título en inglés" %}</label>
                </div>
                <!-- Input Descripción Inglés -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="{% trans 'Descripción en inglés' %}" id="descripcion_en" name="descripcion_en" style="height: 100px"></textarea>
                    <label for="descripcion_en">{% trans "Descripción en inglés"%}</label>
                </div>
                <!-- Input Capacidad Máxima -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="capacidad_max" name="capacidad_max" placeholder="Capacidad Máxima" required>
                    <label for="capacidad_max">{% trans "Capacidad Máxima"%}</label>
                </div>
                <!-- Input Cantidad Disponibles -->
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="precio" name="precio" placeholder="precio" required>
                    <label for="precio">{% trans "Precio"%}</label>
                </div>
                <!-- Input Imagen -->
                <div class="form-group">
                    <label for="cargarImagen">{% trans "Selecciona una imagen:"%}</label>
                    <img id="imagenMostrada" src="" alt="Imagen" class="img-fluid" style="width: 50px; height: 50px;">
                    <input name="cargarImagen" id="cargarImagen" class="ml-3" type="file" required onchange="mostrarImagenSeleccionada(event)">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row m-auto justify-content-center">
                <div class="col">
                    {% trans "ID Tipo Habitación:"%} 
                </div>
                <div class="col">
                    <div class="info-tipo-hab">
                        1 = Suite
                    </div>
                </div>
                <div class="col">
                    <div class="info-tipo-hab">
                        2 = Premium
                    </div>
                </div>
                <div class="col">
                    <div class="info-tipo-hab">
                        3 = Twin
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row m-auto justify-content-center">
            <div class="col mt-4 mb-4">
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button class="btn btn-success" type="submit"> {% trans "+ Agregar"%}</button>
                </div>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success text-center" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </form>
    
</div>

<script>
    const urlGuardada = localStorage.getItem('imagenURL');
    if (urlGuardada) {
        document.getElementById('imagenMostrada').src = urlGuardada;
    }

  // Capturar el evento de cambio en el input de tipo file
    document.getElementById('cargarImagen').addEventListener('change', function(event) {
    // Obtener el archivo cargado
    const archivo = event.target.files[0];
    
    // Validar si se seleccionó un archivo
    if (archivo) {
      // Crear un objeto URL para mostrar la imagen cargada
    const urlImagen = URL.createObjectURL(archivo);

      // Mostrar la imagen en el front-end
    document.getElementById('imagenMostrada').src = urlImagen;

      // Guardar la URL de la imagen en el almacenamiento local
    localStorage.setItem('imagenURL', urlImagen);
    }
    localStorage.clear();

    function handleSubmit(event) {
        // Prevenir el comportamiento predeterminado del envío del formulario
        event.preventDefault();

    }

});

</script>


{% endblock %}

{% block scripts %}

{% endblock %}