<!DOCTYPE html>
<html lang="en">
{% load static %}  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Pacific</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
</head>
<body>
    <div class="container-fluid">
        <!-- Sidebar -->
        <!-- Contenido del Sidebar -->
        <div class="sidebar">
            <div class="top mb-4">
                <div class="logo">
                    <i class="bx bxl-codepen"></i>
                </div>
                <i class="bx bx-menu" id="btn"></i>
            </div> 
            <ul class="mt-5">
                <li class="item">
                    <a href="{% url 'index' %}">
                        <i class="bx bxs-home ml-3"></i>
                        <p class="nav-item">Inicio</p>
                    </a>
                    
                </li >
                <li class="item">
                    <a href="{% url 'habitaciones' %}">
                        <i class='bx bxs-search-alt-2 ml-3'></i>
                        <p class="nav-item">Explorar</p>
                    </a>
                </li>
                <li class="item">
                    <a href="{% url 'nosotros' %}">
                        <i class="bx bxs-info-circle ml-3"></i>
                        <p class="nav-item">Sobre Nosotros</p>
                    </a>
                </li>
                <li class="item">
                    <a href="{% url 'contacto' %}">
                        <i class="bx bxs-contact ml-3"></i>
                        <p class="nav-item">Contacto</p>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <i class='bx bxs-cog ml-3' ></i>
                        <p class="nav-item">Configuración</p>
                    </a>
                </li>
                <li class="item">
                    <a href="#">
                        <i class='bx bx-log-out ml-3' ></i>
                        <p class="nav-item">Cerrar Sesión</p>
                    </a>
                </li>
            </ul>
        </div>
    
    <!-- Contenido Principal -->
        <div class="main-content">
            <!-- Contenido principal de la página -->
            <nav class="navbar navbar-expand-lg p-3">
                <div class="container-fluid">
                    <!-- Logo Hotel Pacific -->
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="PacificLogo" class="img-fluid" style="max-width: 200px;">
                    </a>
                    <div class="offcanvas offcanvas-end" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-body text-center">
                            <ul class="navbar-nav justify-content-center flex-grow-1">
                                <li class="nav-item">
                                    <a href="{% url 'index' %}" class="nav-link btnLink" aria-current="page">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'habitaciones' %}" class="nav-link btnLink" aria-current="page">Explorar</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'nosotros' %}" class="nav-link btnLink" aria-current="page">Sobre Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'contacto' %}" class="nav-link btnLink" aria-current="page">Contacto</a>
                                </li>
                            </ul>
                            <div class="d-flex justify-content-center align-item-center ml-4 mr-5">
                                <!-- Logo Cambio de Idioma -->
                                <a class="logo-leng">
                                    <img src="{% static 'img/logo-chile.png' %}" alt="img-user" style="width: 40px; height: 40px; margin-right: 15px;">
                                </a>
                                <!-- Botón Login -->
                                <a href="{% url 'login' %}" class="btn-login me-2">
                                    <img class="img-fluid" src="{% static 'img/usuario.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                                    Iniciar Sesión
                                </a>
                                <!-- Botón Registro -->
                                <a href="{% url 'registro' %}" class="btn-reg">
                                    Regístrate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            {% block contenido %}
            {% endblock %}
            <footer style="background-color: #3498db; color: #ffffff;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-md-left text-center mb-md-0 mb-3" style="margin-top: 5px;"> <!-- Ajuste de margen superior -->
                            <p class="mb-0">Hotel Pacific - Todos los derechos reservados</p>
                            <p style="font-size: 14px;">Santiago de Chile, Moneda #85</p> <!-- Dirección ficticia -->
                        </div>
                        <div class="col-md-6 text-md-right text-center" style="margin-top: 5px;"> <!-- Ajuste de margen superior -->
                        <a href="https://api.whatsapp.com/send?phone=+56957066834&text=Hola,%20estoy%20interesado(a)%20en%20realizar%20una%20consulta" class="btn btn-success">
                            <img src="{% static 'img/whatsapp-icon.png' %}" alt="WhatsApp" width="30" height="30" class="mr-2">
                            Contáctanos por WhatsApp
                        </a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
    </div>
    <!-- index.js -->
    <script src="{% static 'js/index.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    
    <script>
        // Inicializar el datepicker
        $('.date-range').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'D dd M', // Formato para el input
            clearBtn: true,
            multidate: true, // Esto permite seleccionar un rango de fechas
        });
        var currentDate = new Date();

        // Inicializar el datepicker
        $('.date-range').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy',
            clearBtn: true,
            multidate: true, // Esto permite seleccionar un rango de fechas
            startDate: currentDate // Restricción para no seleccionar fechas anteriores al día actual
        }).on('changeDate', function(e) {
            var dates = e.dates.map(date => {
                return date.toString().substring(0, 3) + ' ' + date.getDate() + ' ' + date.toLocaleString('default', { month: 'short' });
            });
            $(this).val(dates.join(', '));
        }).on('changeDate', function(e) {
            var selectedDates = e.dates;
            var dateLength = selectedDates.length;
            if (dateLength > 1) {
                var previousDate = selectedDates[dateLength - 2];
                if (selectedDates[dateLength - 1] <= previousDate) {
                    $(this).datepicker('setDate', previousDate);
                }
            }
        });

        // Mostrar el calendario debajo del input al hacer clic en él
        $('.date-range').focus(function() {
            $(this).datepicker('show');
        });

    </script>

    
    
</body>
</html>