{% extends 'app/base.html' %}

{% block css %}   
{% endblock %}
{% load static %}  


{% block contenido %}
<div class="container-fluid">
    <div class="titulo-general text-center">Habitaciones</div>
    <div class="row">
        <div class="col">
            <!-- Contenedores Habitaciones -->
            <div class="row mt-2">
                <div class="col"></div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 d-flex align-item-center justify-content-center contenedor-img">
                    <div class="box-rec" data-room="Habitación Twin v1">
                        <img src="{% static 'img/twin_v1.jpg' %}" alt="img-twin">
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 d-flex align-item-center justify-content-center contenedor-img">
                    <div class="box-rec" data-room="Habitación Premium v1">
                        <!-- Imagen Habitación -->
                        <img src="{% static 'img/premium_v1.jpg' %}" alt="img-twin">
                        
                    </div>
                    
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 d-flex align-item-center justify-content-center contenedor-img">
                    <div class="box-rec" data-room="Habitación Suite v1">
                        <!-- Imagen Habitación -->
                        <img class="img-fluid" src="{% static 'img/suite_v1.jpg' %}" alt="img-twin">
                        
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 d-flex align-item-center justify-content-center contenedor-img">
                    <div class="box-rec" data-room="Habitación Suite v1">
                        <!-- Imagen Habitación -->
                        <img class="img-fluid" src="{% static 'img/suite_v1.jpg' %}" alt="img-twin">
                        
                    </div>
                    
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}