{% extends 'app/base.html' %}

{% block css %}   
{% endblock %}
{% load static %}  


{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <!-- Botones Selección Tipo Habitación -->
            <div class="row justify-content-center mt-3">
                <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3 d-flex align-item-center justify-content-center">
                    <a class="btn-filtrar" data-id-tipo-hab="1" style="cursor: pointer;">
                        <div class="btn-hab">
                            <img class="img-fluid" src="{% static 'img/logo-suite.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                            Suite
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3 d-flex align-item-center justify-content-center">
                    <a class="btn-filtrar" data-id-tipo-hab="2" style="cursor: pointer;">
                        <div class="btn-hab">
                            <img class="img-fluid" src="{% static 'img/logo-premium.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                            Premium
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3 d-flex align-item-center justify-content-center">
                    <a class="btn-filtrar" data-id-tipo-hab="3" style="cursor: pointer;">
                        <div class="btn-hab">
                            <img class="img-fluid" src="{% static 'img/logo-twin.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                            Twin
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 d-flex align-item-center justify-content-center">
                    <div class="btn-hab filtro">
                        <img class="img-fluid" src="{% static 'img/filtrar.png' %}" alt="img-filtros" style="width: 20px; height: 20px; margin-right: 15px;">
                        Filtros
                    </div>
                    <!-- Contenido Filtros -->
                    <div class="filtro-op">
                        <ul>
                            <!-- <div class="recomendados">
                                <i class='bx bxs-star mr-1' ></i>
                                Recomendados
                            </div> -->
                            <div class="mas-economicos">
                                Más Económicos
                            </div>
                            <div class="mas-caros">
                                Más Caros
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contenedores Habitaciones -->
            <form method="post" action="{% url 'metodo_pago' %}">
                {% csrf_token %}
                <div class="row mt-2 justify-content-center">
                    {% for habitacion in habitaciones %}
                    <div class="habitacion tipo-{{ habitacion.id_tipo_hab }} col-xs-12 col-sm-12 col-md-6 col-lg-4 contenedor-img justify-content-center">
                        <div class="card no-border">
                            <div class="box-rec" data-room="{{ habitacion.cantidad }}">
                                <img src="data:image/jpeg;base64,{{ habitacion.imagen }}" alt="{{ habitacion.titulo }}">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ habitacion.titulo }}</h5>
                                <p class="card-text">{{ habitacion.descripcion }}</p>
                                <p class="precio-hab card-text">$ {{ habitacion.precio }} CLP</p>
                                <div id="btn-reservar" class="d-grid gap-2 col-6 mx-auto" style="display: none;">
                                    <button id="btn-reservar-btn" class="btn btn-primary" type="submit">Reservar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}