{% extends 'app/base.html' %}

{% load static %}
{% load i18n %}

{% block css %}   
{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="titulo-general text-center">{% trans "Inicio" %}</div>
            {% if name %}
                <div class="titulo-general text-center">{% trans "Bienvenido" %} {{ name }}</div>
            {% else %}
                <div class="titulo-general text-center">{% trans "Home" %}</div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <footer class="footer-pag p-2" style="margin-top: 560px;">
            <div class="col-md-6 text-md-left text-center" style="margin-top: 5px;">
                <!-- Ajuste de margen superior -->
                <p class="mb-0">{% trans "Hotel Pacific - Todos los derechos reservados" %}</p>
                <p style="font-size: 14px;">{% trans "Santiago de Chile, Moneda #85" %}</p>
                <!-- Dirección ficticia -->
            </div>
        </footer>
    </div>
</div>
{% endblock %}