{% extends 'app/base.html' %}

{% block css %}
{% endblock %}

{% load static %}

{% block contenido %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-10">
            <!-- Barra Custom Buscador -->
            <div class="search-bar mb-5">
                <form id="form-busqueda" method="post" action="{% url 'index' %}">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-xs-8 col-sm-10 col-md-5 col-lg-3 d-flex align-items-center mt-3 mb-3">
                            <div class="input-group">
                                <input id="fecha_llegada" name="fecha_llegada" type="text" class="form-control date-range text-center" placeholder="Ingrese Fecha Llegada" style="cursor: pointer;" required>
                                <div class="input-group-append ml-auto">
                                    <span class="input-group-text">
                                        <img class="img-fluid" src="{% static 'img/calendar.png' %}" alt="Calendario" style="width: 30px; height: 30px;">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-10 col-md-5 col-lg-3 d-flex align-items-center mt-3 mb-3">
                            <div class="input-group">
                                <input id="fecha_salida" name="fecha_salida" type="text" class="form-control date-range text-center" placeholder="Ingrese Fecha Salida" style="cursor: pointer;" required>
                                <div class="input-group-append ml-auto">
                                    <span class="input-group-text">
                                        <img class="img-fluid" src="{% static 'img/calendar.png' %}" alt="Calendario" style="width: 30px; height: 30px;">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-5 col-lg-2 d-flex justify-content-center mt-3 mb-3 ml-3 mr-3">
                            <!-- Selector Cantidad Adultos -->
                            <div class="btn-adultos">
                                Adultos
                            </div>
                            <div class="box-btn-adultos">
                                <div class="contenido-sec">
                                    <i id="btn-minus-adultos" class='bx bxs-minus-circle' style="margin-right: 10px;"></i>
                                    <div id="contador-adultos" class="contador-adultos" name="contador_adultos">0</div>
                                    <i id="btn-plus-adultos" class='bx bxs-plus-circle' style="margin-left: 10px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-5 col-lg-2 d-flex justify-content-center mt-3 mb-3">
                            <!-- Selector Cantidad Niños -->
                            <div class="btn-ninos">
                                Niños
                            </div>
                            <div class="box-btn-ninos">
                                <div class="contenido-sec">
                                    <i id="btn-minus-ninos" class='bx bxs-minus-circle' style="margin-right: 10px;"></i>
                                    <div id="contador-ninos" class="contador-ninos" name="contador_ninos">0</div>
                                    <i id="btn-plus-ninos" class='bx bxs-plus-circle' style="margin-left: 10px;"></i>
                                </div>
                            </div>
                        </div>
                        <!-- Botón Buscador -->
                        <div id="btn-buscar" class="col-md-1 col-lg-1 d-flex justify-content-end align-item-center ml-auto mt-3 mb-3 " style="cursor: pointer;">
                            <button type="submit" style="border: none; background: none;">
                                <img src="{% static 'img/buscador.png' %}" alt="img-user" style="width: 50px; height: 50px; margin-right: 15px;">
                            </button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div class="col"></div>
    </div>
    
    <!-- Botones Selección Tipo Habitación -->
    <div class="row justify-content-center">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 d-flex align-item-center justify-content-center">
            <a class="btn-filtrar" data-id-tipo-hab="1" style="cursor: pointer;">
                <div class="btn-hab">
                    <img class="img-fluid" src="{% static 'img/logo-suite.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                    Suite
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 d-flex align-item-center justify-content-center">
            <a class="btn-filtrar" data-id-tipo-hab="2" style="cursor: pointer;">
                <div class="btn-hab">
                    <img class="img-fluid" src="{% static 'img/logo-premium.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                    Premium
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 d-flex align-item-center justify-content-center">
            <a class="btn-filtrar" data-id-tipo-hab="3" style="cursor: pointer;">
                <div class="btn-hab">
                    <img class="img-fluid" src="{% static 'img/logo-twin.png' %}" alt="img-user" style="width: 30px; height: 30px; margin-right: 15px;">
                    Twin
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-12 col-lg-3 d-flex align-item-center justify-content-center">
            <div class="btn-hab filtro" style="cursor: pointer;">
                <img class="img-fluid" src="{% static 'img/filtrar.png' %}" alt="img-filtros" style="width: 20px; height: 20px; margin-right: 15px;">
                Filtros
            </div>
            <!-- Contenido Filtros -->
            <div class="filtro-opciones">
                <ul>
                    <!-- <div class="recomendados">
                        <i class='bx bxs-star mr-1' ></i>
                        Recomendados
                    </div> -->
                    <div class="mas-economicos">
                        Menor A Mayor
                    </div>
                    <div class="mas-caros">
                        Mayor a Menor
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sección Habitaciones Recomendadas -->
    <div class="row justify-content-center mt-4">
        <div class="col d-flex align-item-center justify-content-center">
            <div class="titulo-rec">
                Nuestras Habitaciones
            </div>
        </div>
    </div>

    <!-- Contenedores Habitaciones -->
    <div class="row mt-2 justify-content-center">
        {% for habitacion in habitaciones %}
        <div class="habitacion tipo-{{ habitacion.id_tipo_hab }} col-xs-12 col-sm-12 col-md-6 col-lg-4 contenedor-img">
            <div class="card no-border">
                <div class="box-rec" data-room="{{ habitacion.cantidad }}">
                    <img src="data:image/jpeg;base64,{{ habitacion.imagen }}" alt="{{ habitacion.titulo }}">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ habitacion.titulo }}</h5>
                    <p class="card-text">{{ habitacion.descripcion }}</p>
                    <p class="card-text" data-precio="${{ habitacion.precio }}">{{ habitacion.precio }} CLP</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


