{% extends 'app/base.html' %}

{% block css %}   
{% endblock %}

{% load static %}  


{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <div class="titulo-general">Método de Pago</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col"></div>
        <div class="col-lg-8">
            <!-- Container for PayPal buttons -->
            <div id="paypal-button-container" style="display: flex; justify-content: center;"></div>
            <!-- Container for result message -->
            <div id="result-message"></div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}
