{% extends 'app/base.html' %}

{% block css %}
{% endblock %}
{% load static %}
{% load i18n %}


{% block contenido %}

<div class="container-fluid" style="padding-top: 160px;">
    <div class="titulo-general text-center">{% trans "Acerca de Hotel Pacific" %}</div>
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-8 p-4 mx-auto">
            <main>
                <section id="about">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col p-3">
                                <p style="text-align: justify; line-height: 1.6;">
                                    {% trans "Hotel Pacific es una opción de alojamiento de alta calidad ubicado en el corazón de Santiago de Chile. Con una trayectoria de más de 10 años en el mercado, nos enorgullecemos de ofrecer una experiencia excepcional a nuestros huéspedes." %}<br><br>
                                    {% trans "Nuestro hotel se encuentra estratégicamente ubicado en el centro de Santiago, lo que permite un fácil acceso a los principales lugares de interés de la ciudad, como por ejemplo restaurantes y atracciones culturales." %}<br><br>
                                    {% trans "Nos esforzamos por brindar un servicio personalizado y atención al detalle para asegurar que cada estancia sea memorable. Ya sea que esté aquí por negocios o por placer, nuestro equipo se encuentra dedicado para hacer que su experiencia sea lo más placentera posible." %}<br><br>
                                    {% trans "¡Esperamos darle la bienvenida pronto en Hotel Pacific!" %}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <footer class="footer-pag p-2" style="margin-top: 110px;">
            <div class="col-md-6 text-md-left text-center mb-md-0 mb-3" style="margin-top: 5px;">
                <!-- Ajuste de margen superior -->
                <p class="mb-0">{% trans "Hotel Pacific - Todos los derechos reservados" %}</p>
                <p style="font-size: 14px;">{% trans "Santiago de Chile, Moneda #85" %}</p>
                <!-- Dirección ficticia -->
            </div>
        </footer>
    </div>
</div>

{% endblock %}
