{% extends 'app/base.html' %}

{% block css %}
{% endblock %}
{% load static %}


{% block contenido %}

<div class="container-fluid">
    <div class="titulo-general text-center">Acerca de Hotel Pacific</div>
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-8 p-4 mx-auto">
            <main>
                <section id="about">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col p-3">
                                <p style="text-align: justify; line-height: 1.6;">
                                    Hotel Pacific es una opción de alojamiento de alta calidad ubicado en el corazón de
                                    Santiago de Chile. Con una trayectoria de más de 10 años en el mercado, nos
                                    enorgullecemos de ofrecer una experiencia excepcional a nuestros huéspedes.<br><br>
                                    Nuestro hotel se encuentra estratégicamente ubicado en el centro de Santiago, lo que
                                    permite un fácil acceso a los principales lugares de interés de la ciudad, como por
                                    ejemplo restaurantes y atracciones culturales.<br><br>
                                    Nos esforzamos por brindar un servicio personalizado y atención al detalle para
                                    asegurar que cada estancia sea memorable. Ya sea que esté aquí por negocios o por
                                    placer, nuestro equipo se encuentra dedicado para hacer que su experiencia sea lo
                                    más placentera posible.<br><br>
                                    ¡Esperamos darle la bienvenida pronto en Hotel Pacific!
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

{% endblock %}