{% extends 'app/base.html' %}

{% block css %}   
{% endblock %}
{% load i18n %}
{% block contenido %}
<div class="container-fluid" style="padding-top: 160px;">
    <div class="row">
        <div class="col">
            <div class="titulo-general text-center"> {% trans "Reserva Realizada Exitosamente" %} </div>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <!-- Contenido Datos Cliente -->
        <div class="col d-flex flex-column align-items-center justify-content-center">
            <h1 class="mt-4" style="font-size: 22px;"> {% trans "Datos Cliente" %}</h1>
            <div class="datos-cliente mt-3">
                <p>{% trans "Nombre:" %} <strong>{{ datos_usuario.first_name }}</strong></p>
                <p>{% trans "Apellidos:" %} <strong>{{ datos_usuario.last_name }}</strong> </p>
                <p>{% trans "Correo:" %} {{ datos_usuario.email }}</p>
            </div>
        </div>
        <div class="col d-flex flex-column align-items-center">
            <h1 class="mt-4" style="font-size: 22px;">{% trans "Detalle Reserva" %}</h1>
            <div class="datos-reserva mt-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">{% trans "Id Reserva" %}</th>
                            <th scope="col">{% trans "Habitación" %}</th>
                            <th scope="col">{% trans "Total" %}</th>
                            <th scope="col">{% trans "Pago Reserva" %}</th>
                            <th scope="col">{% trans "Pago Pendiente" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>
                                {{datos_reserva.id_reserva}}
                            </td>
                            <td>
                                {{datos_reserva.habitacion}}
                            </td>
                            <td>
                                $ {{datos_reserva.total}} CLP
                            </td>
                            <td>
                                $ {{datos_reserva.pago_inicial}} CLP
                            </td>
                            <td>
                                $ {{datos_reserva.pago_pendiente}} CLP
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-8 d-flex flex-column align-items-center m-auto">
            <div class="contenedor-info">
                <i class='bx bxs-info-circle'></i>
                {% trans "Hemos enviado un código QR al correo" %} <strong>{{ datos_usuario.email }}</strong>{% trans ", debes mostrarlo el día del check-in." %}
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <!-- Botón volver al home -->
        <div class="col">
            <div class="d-flex justify-content-center">
                <a href="{% url 'index' %}">
                    <button class="btn btn-primary" type="button">{% trans "Volver al inicio" %}</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}