{% extends 'app/base.html' %}

{% block css %}   
{% endblock %}
{% load static %}  

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="titulo-general text-center">Reserva Realizada Exitosamente</div>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <!-- Contenido Datos Cliente -->
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <h1 class="mt-4" style="font-size: 22px;">Datos Cliente</h1>
            <div class="datos-cliente mt-3">
                <p>Rut: 12.345.678-9</p>
                <p>Nombre: Juan</p>
                <p>Apellidos: Perez Perez</p>
                <p>Correo: juanperez@gmail.com</p>
            </div>
        </div>
        <div class="col-lg-8 d-flex flex-column align-items-center">
            <h1 class="mt-4" style="font-size: 22px;">Detalle Reserva</h1>
            <div class="datos-reserva mt-3">
                <table class="table">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">N° Venta</th>
                            <th scope="col">Código Reserva</th>
                            <th scope="col">Tipo Habitación</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Pago Reserva</th>
                            <th scope="col">Total Restante</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>
                                1
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                Premium
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                $ 123123
                            </td>
                            <td>
                                $ 123123
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-8 d-flex flex-column align-items-center m-auto">
            <div class="contenedor-info">
                <i class='bx bxs-info-circle'></i>
                Hemos enviado un código QR al correo juan.perez@gmail.com, debes mostrarlo el día del check-in.
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <!-- Botón volver al home -->
        <div class="col">
            <div class="d-flex justify-content-center">
                <a href="{% url 'index' %}">
                    <button class="btn btn-primary" type="button">Volver al inicio</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
