{% extends 'app/base.html' %}

{% block css %}   
{% endblock %}

{% load static %}  
{% load i18n %} 

{% block contenido %}
<div class="container-fluid" style="padding-top: 130px;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="titulo-general text-center">{% trans "Mis reservas" %}</div>

        </div>
    </div>
    {% if reservas|length == 0 %}
        <p class="text-center mb-5">{% trans "No se han realizado reservas."%}<p>
    {% else %}
        <div class="row ">
            <div class="col d-flex justify-content-center align-item-center m-3">
                <!-- Scrollable modal -->
                <!-- Botón para abrir el modal -->
                {% for reserva in reservas %}
                    <!-- Botón para abrir el modal de esta reserva -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ reserva.id_reserva }}">
                        Reserva {{ reserva.id_reserva }}
                    </button>
                    <!-- Modal para esta reserva -->
                    <div class="modal fade" id="exampleModal{{ reserva.id_reserva }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ reserva.id_reserva }}" aria-hidden="true" style="z-index: 11000; height: 600px; top: 20%"">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel{{ reserva.id_reserva }}">Detalles de la Reserva {{ reserva.id_reserva }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>Fecha de Llegada: {{ reserva.fecha_llegada }}</li>
                                        <li>Fecha de Salida: {{ reserva.fecha_salida }}</li>
                                        <li>Cantidad de Adultos: {{ reserva.cant_adultos }}</li>
                                        <li>Cantidad de Niños: {{ reserva.cant_ninos }}</li>
                                        <li>Habitación: {{ reserva.habitacion }}</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="mas-informacion id-hab-{{ habitacion.id_hab }} text-center m-auto" style="max-height: 600px; overflow-y: auto;">
                    <div class="btn-close" ></div>
                    <div class="row">
                        <h5 class="card-title m-0">{{ habitacion.titulo_hab }}</h5>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="contenido-imagenes">
                                <img src="data:image/jpeg;base64,{{ habitacion.imagen }}"
                                    alt="{{ habitacion.titulo }}" class="img-fluid"
                                    style="border-radius: 40px;">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <div class="contenido-habitacion">
                                <p>
                                    {% trans "Esta habitación ofrece:" %}
                                    {{ habitacion.camas }} {% trans "cama" %},
                                    {{ habitacion.banos }} {% trans "baño" %}
                                </p>
                                <p class="mt-3">{% trans "Servicios Incluidos:" %}</p>
                                <ul class="list-inline">
                                    <li class="list-group-item">Desayuno</li>
                                    <li class="list-group-item">Piscina</li>
                                    <li class="list-group-item">Gimnasio</li>
                                </ul>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Transporte Aereopuerto</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                    <label class="form-check-label" for="inlineCheckbox2">Restaurante VIP</label>
                                </div>
                                <p class="mt-3"> * Capacidad Máxima: <strong>{{ habitacion.capacidad_max }} {% trans "huéspedes" %}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}